* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-container {
    width: 100%;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.header-left {
    margin-left: 40px
}

.header-left ul {
    display: flex;
    justify-content: start;

}

.header-left ul li {
    list-style: none;

}

.header-left ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0%;
    padding-right: 43.5px;
}

.header-left ul li a:hover {
    color: aqua;
}

.header-logo {
    text-align: center;
    /* margin-left: 85px; */
}



.header-logo img {
    width: 100px;
    height: 30px;
}





.header-right ul {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.header-right ul li {
    padding-right: 13px;
}

.header-right ul li svg {
    width: 19px;
    height: 19px;
}

.nav-header-right .badge {
    top: 4px;
    left: 20px;
    font-size: 8px;

    min-width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

/* Banner */
.banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    /* Căn giữa thật sự */
    left: 20%;
    z-index: 1;
}

.banner-text .spring {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 24px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;
}

.btn-shopping a {
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 62px;
    color: #FFFF;
    background-color: #222222;
}

.btn-shopping a:hover {
    background-color: #FFFFFF;
    color: #222222;
}

.btn-shopping a:hover svg path {
    fill: #222222;
}

.flickity-page-dots {
    bottom: 0px;
}


.flickity-page-dots .dot.is-selected {
    width: 20px;
    height: 8px;
    background: #000000;
    border: none;
    border-radius: 5px;
}



@media (max-width: 1024px) {
    .header-left {
        margin-left: 20px;
    }

    .header-left ul li a {
        padding-right: 25px;
        font-size: 12px;
    }

    .header-logo img {
        width: 90px;
        height: 26px;
    }

    .header-right ul {
        margin-right: 10px;
    }

    .content-banner {
        height: auto;
    }

    .banner-text {
        left: 13%;
        top: 50%;
        transform: translateY(-50%);
    }


    .banner-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }


    .banner-text .spring {
        font-size: 18px;
        padding-bottom: 24px;
    }

    .banner-title {
        font-size: 40px;

    }



    .btn-shopping a {
        font-size: 14px;
        padding: 20px 55px;
    }

    .flickity-page-dots .dot.is-selected {
        width: 18px;
        height: 8px;
    }
}

/* Mobile */
@media (max-width: 385px) {
    .menu-toggle {
        display: block;
        z-index: 1001;
        margin-right: 10px;
    }

    .header-left {
        display: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #FFFF;
        flex-direction: column;
    }

    .header-left ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
        gap: 15px;
    }

    #toggle-menu:checked~.header-left {
        display: flex;
    }

    .header-container {
        grid-template-columns: auto auto 1fr;

    }

    .banner-text {
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        text-align: left;
    }

    .banner-title {
        font-size: 35px;
        padding-bottom: 8px;
    }

    .banner-text .spring {
        font-size: 8px;
        padding-bottom: 10px;
    }

    .btn-shopping a {
        font-size: 10px;
        padding: 8px 12px;
    }

    .flickity-page-dots .dot.is-selected {
        width: 8px;
        height: 4px;
    }
}